header {
	border: solid;
	padding: 15px;
	font-family: Tahoma;
	color: darkred;
	background: black;

}

article  {
	margin: 10px;
	font-family: bahnschrift;
	color: black;
}

footer span {
	border: none;
	margin: 10px;
	font-family: bahnschrift condensed;
	color: darkred ;
}

h1 {
	margin: 10px;
	font-family: bahnschrift semibold;
	color: white;
	background: black;
}